@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .hero-image {
    background-image: url("https://i.ytimg.com/vi/qm-Gek2TXrk/maxresdefault.jpg");
    background-color: #cccccc;
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
  }
  
  .hero-text {
    text-align: center;
    font-family: 'Henny Penny', cursive;
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}